{% extends "base_generic.html" %}

{% block title %}
	<title>Contacto</title>
{% endblock %}


{% block título %}

	<h1><br/><a href="{% url 'post_list' %}" style="text-decoration: none; color:#c0c">  María Laura Sanguiao Sánchez </a></h1>

{% endblock %}


{% block content %}


<TABLE border="1" >
		<p style=" display: flex; justify-content: center; align-items: center; margin: 7% 0% 0% 0%;"> Contacto bla bla ..... </p>	
</TABLE>	

	<!-- <ul style="left:1150px; top:600px">
		<li><a href="{% url 'post_list' %}">  Página principal </a></li>
	</ul> -->

{% endblock %}