{% extends "base_generic.html" %}

{% block title %}
	<title>Información personal</title>
{% endblock %}

{% block lateral %}





	 <TABLE border="0" style="position:fixed">

	
		<TR>
			<TD> <a href="{% url 'post_list' %}"><INPUT type="submit" value="Home" class="boton_personalizado"></a></TD>
		</TR>
			<TR>
		<TD>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </TD>

	</TR>
		
    </TABLE>
	
{% endblock %}

{% block título %}
	<h1>Presentación</h1>
{% endblock %}


{% block content %}


<TABLE border="1">
		<p> Bla bla bla bla ..... </p>	
</TABLE>	

{% endblock %}