{% extends "base_generic.html" %}

{% block title %}
	<title>{{ post.titulo }}</title>
{% endblock %}

{% block cabecera %}

	<img src="C:\Users\Administrador\Desktop\Logo - B.png">

    <TABLE border="1" >
      <TR><TD>
        <TABLE>
          <TR >
			<TD colspan="2" align="center"><a href="{% url 'post_list' %}">Leer más</a></TD>
            <TD colspan="2" align="center"><INPUT type="submit" value="Archivos"></TD>
		    <TD colspan="2" align="center"><INPUT type="submit" value="Acerca de"></TD>
          </TR>
        </TABLE>
      </TD></TR>
    </TABLE>
	
{% endblock %}

{% block título %}
	<h1>{{ post.titulo }}</h1>
{% endblock %}