{% extends "base_generic.html" %}

{% block title %}
	<title>Lista de post</title>
{% endblock %}

{% block lateral %}



<ul style="top:200px">
  <li><a href="{% url 'info' %}">Información personal</a></li>
  <li><a href="{% url 'contacto' %}">Contacto</a></li>

</ul>


	
{% endblock %}

{% block título %}
	<h1><br/>María Laura Sanguiao Sánchez</h1>
{% endblock %}


{% block content %}

<TABLE style=" display: flex; justify-content: center; align-items: center; margin: 7% 0% 0% 0%;">
{% for post in posts %}

<TR>
		
	<TD>
		<TABLE border="0">
			<TR><TD>
				<TABLE width=700px height=150px style="border-radius: 20px; border: 1px solid #0016b0;">
				<TR>
					<TD ><H5 style="margin-left: 20px">{{post.fecha}}</H5></P></br></TD>
				</TR>
				<TR>
					<TD ><H3 style="margin-left: 20px">{{ post.titulo }}</H3></P></br></TD>
				</TR>	  
				<TR>
					<TD><P style="margin-left: 20px">{{ post.resumen }}</P></TD>
				</TR>
				<TR>
					<TD colspan="2" align="center"><a href="{% url 'post_texto' pk=post.id %}">Leer más</a></TD>
				</TR>
				</TABLE>
			</TD></TR>
		</TABLE>
	</TD>

	<TR>
		<TD>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </TD>
		<TD>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </TD>
		<TD>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </TD>
		<TD>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </TD>
		<TD>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </TD>
	</TR>

</TR>

{% endfor %}
</TABLE>	

{% endblock %}