{% extends "base_generic.html" %}

{% block title %}
	<title>Lista de post</title>
{% endblock %}

{% block cabecera %}

	<img src="C:\Users\Administrador\Desktop\Logo - B.png">

    <TABLE border="1" >
      <TR><TD>
        <TABLE>
          <TR >
			<TD colspan="2" align="center"><a href="{% url 'post_list' %}"><INPUT type="submit" value="Home"></a></TD>
            <TD colspan="2" align="center"><INPUT type="submit" value="Archivos"></TD>
		    <TD colspan="2" align="center"><INPUT type="submit" value="Acerca de"></TD>
          </TR>
        </TABLE>
      </TD></TR>
    </TABLE>
	
{% endblock %}

{% block título %}
	<h1>Presentación</h1>
{% endblock %}


{% block content %}

<TABLE>
{% for post in posts %}

<TR>
		
	<TD>
		<TABLE border="1">
			<TR><TD>
				<TABLE width=500px height=150px>
				<TR>
					<TD ><H5>{{post.fecha}}</H5></P></br></TD>
				</TR>
				<TR>
					<TD ><H3>{{ post.titulo }}</H3></P></br></TD>
				</TR>	  
				<TR>
					<TD><P>{{ post.resumen }}</P></TD>
				</TR>
				<TR>
					<TD colspan="2" align="center"><a href="{% url 'post_texto' pk=post.id %}">Leer más</a></TD>
				</TR>
				</TABLE>
			</TD></TR>
		</TABLE>
	</TD>

	<TR>
		<TD>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </TD>
		<TD>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </TD>
		<TD>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </TD>
		<TD>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </TD>
		<TD>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </TD>
	</TR>

</TR>

{% endfor %}
</TABLE>	

{% endblock %}